.btn-positions {
        float: right;
}
.popup-pading {
        padding: 8px;
}
.tables{
            margin-top: 25px;        
}
.tbody {
background-color: aquamarine;
}
.hedding {
        color: lawngreen;
}